html,body{
	width: 100%;
	height: 100%;
}

.page{
	width: 100%;
	height: 100%;
	padding:6.9em 3.7em .8em;
	box-sizing: border-box;
}
.login-img{
	margin: 0 auto 3.88em;
	width: 10.75em;
}
.login-input{
	display: flex;
	padding:0 9px 9px;
	margin-top: 2.3em;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #7e8489;
	box-sizing: border-box;
}
.login-input:before, .login-input:after{
	content: "";
	position: absolute;
	bottom: -1px;
	width: 1px;
	height: 10px;
	border-left: 1px solid #7E8489;
}
.login-input:before{
	left:0;
}
.login-input:after{
	right: -1px;
}
.login-img img{
	width: 100%;
	display: block;
	
}
.input-img{
	width: 1.5em;
	height: 1.5em;
	display: block;
}
.weui-input{
	padding-left: .7em;
}
#kaptchaImg{
	width: 4.75em;
	height: 1.5em;
}
.forget-pwd{
	margin-top: .7em;
	text-align: right;
}
.forget-pwd a{
	color: #000;
}
.login-disable{
	display: block;
	padding:.5em 0;
	width: 90%;
	margin: 2.25em auto;
	text-align: center;
	color: #fff;
	background: #d5d5d5;
	border-radius: 2.15em;
}
.login-btn{
	background: #fbb725;
	color: #000;
}
